<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>restaurantTitles</key>
	<array>
		<string>Juliez</string>
		<string>Ono Steak and Shrimp</string>
		<string>Sushi Bay</string>
		<string>Koa Pancake House</string>
		<string>Taco Bell</string>
		<string>L&amp;L Hawaiian Barbecue</string>
	</array>
	<key>restaurantTexts</key>
	<array>
		<string>Simple Filipino eatery with all-day hours &amp; a buffet, lodged in an unassuming strip mall.</string>
		<string>Chill counter-serve prepping Hawaiian/Asian surf &apos;n&apos; turf such as grilled steak &amp; fish with noodles.</string>
		<string>In 1988, husband and wife, Il Man and Sam Soon Chung opened up their very first dine-in breakfast and lunch restaurant on the island of O’ahu.  Designed from Hawaiian Koa, one of the finest textured woods in world, the first Koa Pancake House was born. </string>
		<string>Simple conveyor-belt sushi restaurant offering classic rolls &amp; Japanese eats in an informal setting.</string>
		<string>Taco Bell brings people together with Mexican-inspired food. We&apos;re one of a kind—like you. Customize your faves. Sign up for exclusive offers. Order now!</string>
		<string>L&amp;L Hawaiian Barbecue, or simply L&amp;L and known as L&amp;L Drive-Inn in Hawaii, is a Hawaiian-themed franchise restaurant chain based in Honolulu, Hawaii, centered on the Hawaiian plate lunch</string>
	</array>
	<key>restaurantImages</key>
	<array>
		<string>Juliez</string>
		<string>Ono Steak and Shrimp</string>
		<string>Koa Pancake House</string>
		<string>Sushi Bay</string>
		<string>Taco Bell</string>
		<string>L&amp;L Hawaiian Barbecue</string>
	</array>
</dict>
</plist>
